<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snowalker.erollcall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/edian_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.epoint.Activity.StudntActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.epoint.Activity.ShakeActivity"
            android:label="@string/title_activity_shake"></activity>
        <activity android:name="com.epoint.Activity.Login_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 未到学生activity及到达总数 -->
        <activity android:name="com.example.erollcall_teacher_module.activity.CountArrivedAndNotArrivedInfoActivity" >
        </activity>
        <!-- 统计所有学生信息 -->
        <activity android:name="com.example.erollcall_teacher_module.activity.CountAllStudentsInfoActivity" >
        </activity>
        <!-- 登录教师信息 -->
        <activity android:name="com.example.erollcall_teacher_module.activity.GetLogedTeacherInfo" >
        </activity>
        <!-- 关于我们 -->
        <activity android:name="com.example.erollcall_teacher_module.activity.AboutUsActivity" >
        </activity>
        <!-- 教师菜单 -->
        <activity
            android:name="com.example.erollcall_teacher_module.activity.TeacherMenuActivity"></activity>
        <!-- 重置计数器 -->
        <activity
            android:name="com.example.erollcall_teacher_module.activity.TeacherResetCounter"></activity>
        <activity android:name="com.epoint.Activity.StudentInfoActivity"></activity>
    </application>

</manifest>